<div class="headers">
  <div class="headers__title font__weight-bold">
    <h1 class="font__color-yellow">{{title}}</h1>
  </div>
  <div class="headers__subtitle">
    <h3 class="font__weight-light font__color-gray">{{subTitle}}</h3>
  </div>
</div>