<div class="transparency transparency__50"></div>
<div class="fullscreen-slideshow">

  <div class="container">
    <div class="col-12">
      <div class="text__align-center">
        <div class="space__height-10"></div>
        <h1 class="font__color-white font__family-fantasy">BreweryUp Ember</h1>
        <h3 class=" font__color-white font__weight-light">Let's cheer and chillax by exploring some coooooooooool
          beers.</h3>
        <div class="space__height-40"></div>
        {{#link-to "beers" tagName="button" class="button__general button__general-style1"}}
          LET'S GO
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
