<div class="fullscreen-slideshow">
  <div class="container">
    <div class="col-12">
      <div class="text__align-center">
        <div class="space__height-40"></div>
        <h1 class="font__color-white font__family-fantasy">BreweryUp Ember</h1>
        <h3 class=" font__color-white font__weight-light">Let's cheers and chilax by exploring some coooool beers.</h3>
        <div class="space__height-40"></div>
        <button class="button__general button__general-style1">LET'S GO</button>
      </div>
    </div>
  </div>
</div>
