<div class="top-menu z__index-z99 bg">
  <div class="container clearfix">
    <div class="logo">
      {{#link-to "index"}}<p class="logo__size font__family-fantasy font__color-white">BEER</p>{{/link-to}}
    </div>
    <div class="menu">
      <nav>
        <input type="checkbox" id="nav"> <label for="nav" class="hamburger"></label>
        <ul>
          <li>
            {{#link-to "index"}}HOMEPAGE{{/link-to}}
          </li>
          <li>
            {{#link-to "about"}}ABOUT{{/link-to}}
          </li>
          <li>
            {{#link-to "beers"}}BEERS{{/link-to}}
          </li>
          <li>
            {{#link-to "contact"}}CONTACT{{/link-to}}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
