{{page-header title="ABOUT US" subTitle="learn more about this simple application"}}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Dear Reader,</h3>
      <p>
        I am so happy that you are seeing this simple application. I would like to share my story behind building this
        app and I hope you will enjoy using that.
      </p>
      <p>
        When I started to work on this app, Angular2 was my first choice. However, I spent some time and figure it out
        that Ember is better option.
      </p>
      <p>
        I have chosen Ember over React or Angular2 for this app because of:
      <ul>
        <li>Ember cli can help to setup a project literally in less than 3 seconds!</li>
        <li>Ember will handle many things behind the seance and for quick project and setup it's an awesome option</li>
        <li>Deployment with Ember is as easy as one line command!!!</li>
        <li>Ember Data can help to easily manipulate data however, I figure it out that I have to serialize data in
          Ember which I have done for one model only,
          it's a time consuming process, so I decided to continue other models with a simple ajax request and get
          response and populate data in DOM.
          Ember Data, in contrast, supports, Simple Json, JSON API Standard and REST API Standard.
        </li>
        <li>and many other good things about Ember</li>
      </ul>
      </p>
      <p>
        I hope you enjoy this project and I invite you to see Serverless git repository that I build for this project as
        a middle program to communicate with
        BreweryDB API, since the don't support browser ajax request.
      </p>
      <p>
        Please check <a href="https://github.com/mhadaily/breweryUp-Ember" target="_blank">https://github.com/mhadaily/breweryUp-Ember</a>
        and <a href="https://github.com/mhadaily/breweryUp-Node-Lambda" target="_blank">https://github.com/mhadaily/breweryUp-Node-Lambda</a>
        . For More Development information, please read repository README.
      </p>

      <p>
        Cheers,<br>
        Majid<br>
        14 FEB 2017
      </p>
    </div>
    {{outlet}}
  </div>
</div>
{{app-footer}}