{{page-header title="ABOUT US" subTitle="learn more about this simple application"}}
<div class="container">
  <div class="row">
  <div class="col-12">
    <div class="col-6">
      Summery about what I done
    </div>
  </div>
    {{outlet}}
  </div>
</div>
{{app-footer}}