<header>
  {{top-menu}}
</header>

{{outlet}}


<footer class="footer">
  <p class="text__align-center font__weight-light font__color-white">Made with <span
    class="font__color-yellow"> &hearts;</span> by <a class="font__color-white" target="_blank"
                                                      href="https://github.com/mhadaily/breweryUp-Ember">Majid
    Hajian</a></p>
</footer>