{{page-header title="COOOOOOL BEERS" subTitle="let's explor some cools beers"}}
<div class="container">
  <div class="row">
    <div class="col-12">
      {{#if model.loading}}
        loading
      {{else}}
        {{#each model as |beer|}}
          <div class="col-3">
            {{#link-to "beer" beer}}
              {{beer.name}}
            {{/link-to}}
          </div>
        {{/each}}
      {{/if}}
      {{outlet}}
    </div>
  </div>
</div>
