{{page-header title="CONTACT ME" subTitle="if you need any help please contact me"}}
<div class="container">
  <div class="row">
    <div class="col-12 text__align-center">
      <h3>
        <a href="http://www.majidhajian.com" target="_blank">Personal Website</a>
      </h3>
      <h3>
        <a href="http://stackoverflow.com/users/1921541/majid" target="_blank">StackoOverflow</a>
      </h3>
      <h3>
        <a href="https://twitter.com/mhadaily" target="_blank">Twitter</a>
      </h3>
      <h3>
        <a href="https://github.com/mhadaily" target="_blank"> Github</a>
      </h3>
      <h3>
        mhadaily@gmail.com
      </h3>
    </div>
    {{outlet}}
  </div>
</div>
{{app-footer}}