{{page-header title="CONTACT ME" subTitle="if you need any help please contact me"}}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-6">
        my contact list
      </div>
    </div>
    {{outlet}}
  </div>
</div>
{{app-footer}}