{{page-header subTitle=model.name title="AWAREDED EVENTS"}}
<div class="container">
  <div class="row">
    <div class="col-12">
      {{beer-event beerId=model.id}}
      {{outlet}}
      {{#link-to "beer" model}}
        back to {{model.name}}
      {{/link-to}}
    </div>
  </div>
</div>